  <!-- main-container -->

  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view wow">
            <div class="product-essential">
              <!-- <action action="#" method="post" id="product_addtocart_form"> -->
                <div class="product-img-box col-lg-6 col-sm-6 col-xs-12">
                  <img style="width: 550px;height: 520px;" src="assets/product/{{item.product_image}}" alt="" />
              </div>

                <!-- end: more-images -->

                <div class="product-shop col-lg-6 col-sm-6 col-xs-12">
                  <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>
                  <div class="product-name">
                    <h1>{{item.product_name}}</h1>
                  </div>
                  <div class="ratings">
                    <div class="rating-box">
                      <div style="width:60%" class="rating"></div>
                    </div>
                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
                  </div>
                  <!-- <p class="availability in-stock"><span>In Stock</span></p> -->
                  <div class="price-block">
                    <div class="price-box">
                      <p class="special-price"> <span class="price">Giá : {{item.product_price | currency:"VND" }}</span> </p>

                    </div>
                  </div>
                  <div class="short-description">
                    <p><b>Tình trạng:</b> Còn hàng</p>
                    <p><b>Trọng lượng:</b> 1 Kg</p>

                  </div>
                  <div class="add-to-box">
                    <div class="add-to-cart">
                      <label for="qty">Số lượng : <input style="width: 50px" name="qty" type="number" min="1"  value="1"/></label>
                      <input name="productid_hidden" type="hidden"  value="" />
                      <br>
                      <p>Mô tả: {{item.product_desc}}</p>
                      <br>
                      <button class="button btn-cart" title="Add to Cart" (click)="addToCart(item)" type="submit"><span><i class="icon-basket"></i> Add to cart</span></button>
                    </div>

                  </div>

                </div>
              <!-- </form> -->
            </div>
            <div class="product-collateral">
              <div class="col-sm-12 wow">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                  <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Thông tin chi tiết</a> </li>
                  <li> <a href="#product_tabs_custom" data-toggle="tab">Giới thiệu</a> </li>
                </ul>
                <div id="productTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="product_tabs_description">
                    <div class="std">
                      <p>{{item.product_desc}}</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="product_tabs_custom">
                    <div class="product-tabs-content-inner clearfix">
                      <p>{{item.product_content}}</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div class="new-pro-slider" style="float:left;margin-top:50px">
              <div class="new_title center">
                <h2>Sản Phẩm Tương Tự</h2>
              </div>
                <ul class="products-grid">
                  <!-- <ng-container *ngFor="let pritemoduct of list_item |paginate:{productsPerPage:5,currentPage:pageActual}"> -->
                    <ng-container *ngFor="let item of tuongtu ">
                    <li class="item col-lg-2 col-md-3 col-sm-6 col-xs-6">
                      <div class="col-item">
                        <div class="images-container"> <a class="product-image" title="Sample Product" [routerLink]="['/product/detail',item.product_id]"> <img src="assets/product/{{item.product_image}}" class="img-responsive" alt="a" /> </a>
                          <div class="actions">
                            <div class="actions">
                              <div class="actions-inner">
                                <button type="button" class="button btn-cart" (click)="addToCart(item)"><span>Add to Cart</span></button>
                                <!-- <ul class="add-to-links">
                                  <li><a (click)="addToCart(item)" title="Add to cart" class="link-wishlist"><span>Add to cart</span></a></li>
                                  <li><a (click)="addToCart(item)" title="Add to cart" class="link-compare "><span>Add to cart</span></a></li>
                                </ul> -->
                              </div>
                            </div>
                          </div>
                          <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" [routerLink]="['/product/detail',item.product_id]"><span><span>Quick View</span></span></a> </div>
                        </div>
                        <div class="info">
                          <div class="info-inner">
                            <div class="item-title"> <a title=" Sample Product" [routerLink]="['/product/detail',item.product_id]"> {{item.product_name}} </a> </div>
                            <!--item-title-->
                            <div class="item-content">
                              <div class="ratings">
                                <div class="rating-box">
                                  <div style="width:60%" class="rating"></div>
                                </div>
                              </div>
                              <div class="price-box">
                                <p class="special-price"> <span class="price"> {{item.product_price | currency:"VND"}} </span> </p>
                              </div>
                            </div>
                            <!--item-content-->
                          </div>
                          <!--info-inner-->

                          <!--actions-->

                          <div class="clearfix"> </div>
                        </div>
                      </div>
                    </li>
                  </ng-container>


                </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End main-container -->


